<!-- app/views/customers/alphabetized.html.erb -->
<h1>Alphabetized NBA Customers</h1>
<%= link_to 'All Customers', customers_path %>
<%= link_to 'Customers Missing Email', customers_missing_email_path %>
<% @customers.each do |customer| %>
  <%= render 'customer', customer: customer %>
<% end %>
