<!-- app/views/customers/index.html.erb -->
<h1>All The Customers</h1>
<%= link_to 'Alphabetized Customers', customers_alphabetized_path %>
<%= link_to 'Customers Missing Email', customers_missing_email_path %>
<% @customers.each do |customer| %>
  <%= render 'customer', customer: customer %>
<% end %>
